*{
    box-sizing: border-box;
    ;
    padding: 0;
    margin: 0;
}

div{
    background-color: #4b6b34;
    box-sizing: 30px;
}

.marlboro{
    color: #778549; 
    text-align: center;
}

.chesterfield{
    text-align: center;
}

.camel{
    text-align: center;
    text-align: justify;
}

.derby{
    text-align: center;
    text-align: justify;
}

#foda{
    color: rgb(147, 172, 59);

}

.sdf{
    background: #c0d18d;
    padding: 40px;
    font-size: 25px;
    margin: 10px
}

.fds{
    background: rgb(115, 144, 68);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.chesterfield{
    padding: 20px;

}

.elen{
    padding: 30px;
    margin: 10px;
}