h1{
    text-align: center;
}

.lista1{
    background: grey;
    padding: 10px 0px 10px 100px;
    margin: 0px 200px 10px 200px ;
    border:10px solid ;
    border-radius: 20px ;
}

.lista2{
    background: grey;
    padding: 10px 20px 10px 70px;
    margin: 0px 200px 0px 200px ;
    border: 10px solid;
    border-radius: 20px;
}